@import url(./design-system/sytles/color/colors.css);
@import url(./design-system/sytles/elevation/elevation.css);
@import url(./design-system/sytles/shapes/shapes.css);
@import url(./design-system/componets/buttons/buttons.css);
@import url(./design-system/componets/card/cards.css);
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.feed{
    margin: 1em;
    display: flex;
    flex-direction: column;
    grid-area: 1em;

    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
}
.action-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}
.action-list > :last-child{margin-left: auto;}

.feed > *{
width: 100%;
}
.story-navbar{
    display: flex;
    gap: 1em;
    margin-bottom: 3em;
    max-width: 3em;
}
.story-navbar img{
    border-radius: 50%;
    width: 64px;
}
.active-story ,.avatar img{
    border: 2.5px solid var(--color-primary);
}
.main-navbar{
    display: inline-block;

}
.main-navbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    justify-content: center;
    gap: 0.5em;
    padding: 0;
    position: fixed;
    border-right: 1px solid var(--color-outline);
    height: 100%;
}

.flex-page{
    display: flex;
}
.avatar-navbar{
    border-radius: 50%;
    width: 35px;
}


@media (max-width: 1000px) {
    body{
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-navbar{
        margin-left: -180px;
    }
    .card {width: 500px;} 
    .feed{margin-right: 0;}
    
}

@media (max-width: 850px){
    body{width: 50%;}
    .main-navbar{margin-left: -200px;}
}

@media (max-width: 750px){
    .main-navbar ul{
        display:flex; flex-direction: row;
        align-items: flex-end;
        border: 0;
        gap: 0;
        
    }
    .main-navbar ul li{background-color: white;}
    .main-navbar{margin-left: -120px; margin-bottom: 2em;
    background-color: white;}
    .main-navbar ul li:last-child{height: 54px;}
}
@media (max-width: 428px) { /* iphone 12 pro max*/
    body{max-width: 50%;}
    .feed{max-width: 270px;}
    .card{width: 300px;}
    .story-navbar{gap: 0.5em;}
    .story-navbar img{width: 40px;}
}

