@import url(./../../sytles/color/colors.css);
@import url(./../../sytles/elevation/elevation.css);
@import url(./../../sytles/shapes/shapes.css);
@import url(./../../componets/buttons/buttons.css);

.list-background{
    display: flex;
    width: 15em;
    justify-content: flex-start;
    background-color: var(--color-surface);
    box-shadow: var(--elevation-1);
    border-radius: var( --shape-large);
}
.list-background ul{
    list-style: none;
    padding: 1em;
}
.list-background ul li{
    padding: 0.5em;
    color: var(--color-on-secondary-container);
}
.nav-title{
    color: var(--color-on-surface-variant);
    padding-left: 1em;
}
.flex{
    display: flex;
}